.head-wrapper{
    color: white;
}

.head-container{
    justify-content: space-between!important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.head-menu{
    gap: 2rem;
}

.head-menu>*:hover{
    cursor: pointer;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 768px){
    .menu-icon{
        display: block;
    }
    .head-menu{
        z-index: 22;
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0 4px 4px rgba(0,0,0,0.05);
        transition: all 300ms ease-in;
    }
}